@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

body {
    height: 100vh;
    /* background-color: rgb(26, 32, 44); */
    background-color: #121212;
    scroll-behavior: smooth;
}

.font-weight-bold {
    font-weight: bold;
}

.osilva-principal {
    color: #e2692b;
}

.osilva-title {
    font-size: 60px;
    color: #e2692b;
    font-weight: bold;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    height: 80px;
}

.navbar h2 {
    font-size: 36px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    transition: .2s;
    margin: 25px;
    transition: color .3s ease;
}

.navbar ul li:hover a {
    color: #e2692b;
}

.hire-me-button {
    height: 50px;
    width: auto;
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e2692b;
    font-size: 16px;
    transition: background-color .3s ease;
}
.hire-me-button:hover {
    background-color: #bc3f00;
}

.home-container {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.silva-hello {
    font-size: 22px;
    color: #fff;
}

.silva-title {
    font-size: 90px;
    color: #fff;
}

.silva-subtitle {
    font-size: 36px;
    color: #fff;
}

/* END OF HOME */


/* START OF SKILLS */

.skills-container {
    width: auto;
    height: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills-text {
    font-size: 20px;
    color: #fff;
}

.skills-badge-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-badge {
    width: auto;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(226, 105, 43, .1);
    color: #e2692b;
    padding: 5px 20px;
    margin-top: 30px;
}

/* END OF SKILSS*/


/* START OF PROJECTS */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    padding-bottom: 30px;
}

.projects-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.title-card-projects {
    font-size: 28px;
    font-weight: bold;
}

.projects-details {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-projects {
    display: flex;
    /* grid-template-columns: 1fr 2fr; */
    flex-direction: column;
    column-gap: 25px;
    width: 800px;
    border-radius: 8px;
    padding: 20px 40px;
    border: 1px solid rgba(31, 35, 40, .15);
    border-left: 4px solid #e2692b;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.projects-stack-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.projects-badge {
    width: auto;
    height: 20px;
    border-radius: 15px;
    background-color: rgba(226, 105, 43, .1);
    color: #e2692b;
    padding: 5px 20px;
    margin-top: 30px;
    font-size: 14px;
    overflow: hidden;
}

.projects-btn-actions {
    margin-top: 35px;
    margin-right: 20px;
    width: 100%;
}

.btn-code-project {
    background-color: #e2692b;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: background-color .3s ease;
    cursor: pointer;
}
.btn-code-project:hover {
    background-color: #bc3f00;
}

/* END OF PROJECTS */


/* START OF EXPERIENCE */

.experience-container {
    width: auto;
    height: auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 90px;
}

.card-experience {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    width: 500px;
    height: auto;
    padding: 40px 40px;
    border-radius: 8px;
    border: 1px solid rgba(31, 35, 40, .15);
}

.title-card-experience {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.sub-title-card-experience {
    font-size: 20px;
    color: #fff;
    opacity: .6;
}

.time-card-experience {
    font-size: 16px;
    color: #fff;
    opacity: .6;
}

.skills-experience-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.experience-line {
    width: 2px;
    height: 40px;
    background-color: #6e7781;
}

/* END OF EXPERIENCE */


/* START OF FOOTER */

.silva-footer {
    width: auto;
    height: 20px;
    padding: 30px 50px;
    text-align: center;
    overflow: hidden;
}

.silva-footer-text {
    font-size: 12px;
    color: #fff;
}

/* END OF FOOTER */

@media (max-width: 750px) {
    .items-navbar {
        display: none;
    }
    .home-container {
        align-items: self-start;
        margin-left: 30px;
    }
    .card-projects {
        width: 300px;
    }
    .card-experience {
        width: 300px;
    }
    .skills-experience-container {
        display: column;        
    }
    .projects-stack-container {
        display: column !important;

        &.projects-badge {
            width: 100%;
        }
    }
}